<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.drumm.adt_transport_utils.ui.CreateAndReleaseTransportOfCopiesHandler"
            commandId="adt_transport_utils_plugin.commands.createAndRelease">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="com.sap.adt.tm.IRequest">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="de.drumm.adt_transport_utils.ui.CreateTransportOfCopiesHandler"
            commandId="adt_transport_utils_plugin.commands.createToC">
         <activeWhen>
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <instanceof
                        value="com.sap.adt.tm.IRequest">
                  </instanceof>
               </iterate>
            </and>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.sap.adt.tm.ui.tmview?endof=additions">
         <menu
               icon="icons/S_B_TOOL.GIF"
               id="adt_transport_utils_plugin.menus.sampleMenu"
               label="%menu.label">
            <command
                  commandId="adt_transport_utils_plugin.commands.createToC"
                  icon="icons/s_b_copy.gif"
                  id="adt_transport_utils_plugin.menus.sampleCommand"
                  label="%command.create.label"
                  tooltip="%command.create.label">
            </command>
            <command
                  commandId="adt_transport_utils_plugin.commands.createAndRelease"
                  icon="icons/s_b_trns.gif"
                  label="%command.create_and_release.label"
                  style="push"
                  tooltip="%command.create_and_release.labels">
            </command>
         </menu>
      </menuContribution>
   </extension>


</plugin>
